h1{
    text-align: center;
    color: blue;
}

body{
    background-image: url("https://previews.123rf.com/images/wnaoki/wnaoki1803/wnaoki180300452/97942556-white-jigsaw-puzzle.jpg");
}
fieldset{
    margin: 5px 5px;
    border-radius: 10px;
    border-color: aqua;
    text-align: justify;
   
}

button{
    color: blue;
    background-color: cyan;
    font-size: large;
    border-radius: 5px;
    border-color: cyan;
}

@media only screen and (max-width:600){
    body{
        width: 400px;
    }
}
@media only screen and (max-width:400){
    body{
        width: 200px;
    }
}